<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tudou.springboot.db.mapper.BookMapper" >

    <select id="selectById" resultType="com.tudou.springboot.db.dao.BookDO">
        select * from book where id = #{id};
    </select>


    <select id="selectByAuthor" resultType="com.tudou.springboot.db.dao.BookDO">
        select * from book where id = #{id};
    </select>

</mapper>